/* styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif; /* Fonte padrão para o corpo */
  background-color: #E0E0E0; /* Cor de fundo suave */
  color: #333; /* Cor de texto */
  line-height: 1.6;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif; /* Fonte específica para títulos */
  font-weight: bold;
}

a {
  text-decoration: none; /* Remove sublinhado de links */
  color: inherit; /* Herda a cor do elemento pai */
}

ul {
  list-style-type: none; /* Remove marcadores de listas */
}

/* Estilos para links em geral */
a:hover {
  color: #39ff14; /* Cor verde neon quando o mouse passa por cima */
}


/* Classes gerais para container de conteúdo */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Estilo para o footer e header, para garantir que ocupem a largura total */
footer, header {
  width: 100%;
}

/* Ajuste para os botões */
button {
  background-color: #6F2DBD;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a2d99;
}

