.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0; 
    color: #fff;
  }
  
  .title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .button {
    font-family: 'Rajdhani', sans-serif;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #6F2DBD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #00EF12;
    color: #432F57;
  }
  