.titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 150px;
    color: #6F2DBD;
    font-family: 'Rajdhani', sans-serif;
  }
  
.titlePage {
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 1.2;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); 
  }

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 70px;
    padding: 30px;
    justify-items: center;
    margin-top: 50px;
}

.projectBox {
    background-color: #432F57;
    border: 6px solid transparent; 
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    box-sizing: border-box;
    width: 500px;
    border-radius: 10px;
    position: relative;
    animation: borderAnimation 2s linear infinite;
    margin-bottom: 70px;

}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, #00EF12, #7D54F7) 1;
        border-radius: 10px;
    }
    25% {
        border-image: linear-gradient(135deg, #00EF12, #7D54F7) 1;
        border-radius: 10px;
    }
    50% {
        border-image: linear-gradient(225deg, #00EF12, #7D54F7) 1;
        border-radius: 10px;
    }
    75% {
        border-image: linear-gradient(315deg, #00EF12, #7D54F7) 1;
        border-radius: 10px;
    }
    100% {
        border-image: linear-gradient(45deg, #00EF12, #7D54F7) 1;
        border-radius: 10px;
    }
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem; 
    font-weight: bold;
    color: #ffffff;
    line-height: 1.5;
}
