.titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: #6F2DBD;
    font-family: 'Rajdhani', sans-serif;
}

.titlePage {
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 1.2;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.toolsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.card {
    background-color: #d5d5d5;
    border-radius: 8px;
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 60px;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    justify-items: center;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    justify-items: center;
    align-items: center;
}

.square {
    background-color: #292D3E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.square:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.icon {
    width: 55%;
    height: auto;
}

.toolName {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6F2DBD;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.square:hover .toolName {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}
